<form
	[formGroup]="fg"
	(ngSubmit)="guardar(
		fg.controls['nombre'].value,
		fg.controls['url'].value
	)">
    <div class="form-group">
        <label form="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." 
            formControlName='nombre'>
    </div>
    <!--[formControl]="fg.controls['url']" aquí no funciona se debe cambiar por formControlName='url'-->
    <div class="form-group">
        <label form="Imagen Url">Imagen URL</label>
        <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar URL..."
            formControlName='url'>
    </div>
    <p></p>  <!-- línea en blanco -->
    <button type="submit" class="btn btn-primary">Guardar!</button>
 </form>

